@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>HESIMS - Scholarships</PageTitle>

<h3>Scholarships List</h3>
<hr class="mb-3" />

<AddScholarship OnScholarshipSubmit="AddScholarshipAsync" />

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Scholarship</th>
            <th>Country</th>
            <th>Institutions</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        @if (scholarships != null && scholarships.Count > 0)
        {
            foreach (var scholarship in scholarships)
            {
                <tr>
                    <td>
                        <NavLink href="@($"scholarships/{scholarship.ScholarshipId}")">@scholarship.ScholarshipName</NavLink>
                    </td>
                    <td>@scholarship.Country?.CountryName</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>

@code {

    List<ScholarshipViewModel>? scholarships = new();

    protected override async Task OnInitializedAsync()
    {
        scholarships = await Http.GetFromJsonAsync<List<ScholarshipViewModel>>($"{NavigationManager.BaseUri}api/scholarships");
    }

    private async Task AddScholarshipAsync(ScholarshipViewModel scholarship)
    {
        var response = await Http.PostAsJsonAsync($"{NavigationManager.BaseUri}api/scholarships", scholarship);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"{NavigationManager.BaseUri}");
        }
    }

}
