@page "/addcourse"

<PageTitle>HESIMS - Add Course</PageTitle>

<h3>Add Course</h3>

<div class="btn-group">
    <NavLink href="courses" class="btn btn-primary">Courses List</NavLink>
</div>
<br />
<br />

@code {

}
