@page "/courses"

<PageTitle>Courses</PageTitle>

<h3>Offered Courses List</h3>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th>Course</th>
            <th class="col-2">Scholarships</th>
            <th class="col-2">Applications</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td class="col-2"></td>
            <td class="col-2"></td>
        </tr>
    </tbody>
</table>

@code {

}
