@page "/coursedetail"

<PageTitle>HESIMS - Course Detail</PageTitle>

<h3>Course Detail</h3>

<div class="btn-group">
    <NavLink href="courses" class="btn btn-primary" aria-current="page">Course List</NavLink>
    <NavLink href="addcourse" class="btn btn-primary" aria-current="page">Add Course</NavLink>
</div>
<br />
<br />

@code {

}
