@page "/students"

<PageTitle>Registered Students</PageTitle>

<h3>Registered Students</h3>

<table class="table table-bordered table-sm">
    <thead>
        <tr>
            <th class="col-2">Student Number</th>
            <th class="col-3">First name</th>
            <th class="col-3">Last name</th>
            <th class="col-3">Other names</th>
            <th class="col-1"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-2"></td>
            <td class="col-3"></td>
            <td class="col-3"></td>
            <td class="col-3"></td>
            <td class="col-1">Course</td>
        </tr>
    </tbody>
</table>

@code {

}
