@page "/students/{id:guid}"

<h3>Student Details</h3>

<NavLink href="students" class="btn btn-primary">Students' list</NavLink><br /><br />

@code {

    [Parameter]
    public Guid Id { get; set; }

    protected override void OnInitialized()
    {
        // do something with Id
    }
}