<h6 class="pt-3">Course</h6>
<hr class="mb-2" />
<NavLink href="@($"students/{StudentId}/courses/add")" class="btn btn-outline-secondary btn-sm">Add Course</NavLink>

<p class="h5 pb-5 pt-2"><em>No course has been registered for student</em></p>

@code{
    [Parameter] public Guid StudentId { get; set; }
}